header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  min-height: 50px;
}

.header p, .header a { 
  color:white;

  text-decoration: none;


}
.header a {
  margin-right: 20px;

}

.image a {
  width: 300px;
  margin: 20px auto;
}
.add-btn{
  background-color: blue;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.profile {
  margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(245, 107, 56);
padding:10px 20px;
color: rgb(9, 5, 0);
display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto; 
    width: 700px;

}

@media(max-width: 768px) {
  .header{
    justify-content: space-around;
  }
} 
  


@media (max-width: 480px) {
  .header{
    flex-direction: column;
    align-items: center;
    gap: 20px;

  }
}

  
